.section-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 16px;
}

.section-header-left {
  display: flex;
  align-items: center;
  gap: 12px;
  font-size: 20px;
  font-weight: 600;
}

.section-header-right {
  display: flex;
  align-items: center;
  gap: 10px;
}

.section-badge .ant-badge-count {
  background-color: #1677ff;
}

.section-btn{
  font-weight: 700;
}