.app {
  min-height: 100vh;
  background: #FFF;
}

.app-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #202020;
  padding: 0px 24px;
}

.app-logo {
  color: #fff !important;
  margin: 0 !important;
  letter-spacing: 1px;
}

.app-toggle {
  color: #fff;
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 500;
  font-size: 14px;
}

.app-content {
  padding: 24px;
}


.app-dark {
  background: #0D0D0D;
  --ant-color-bg-container: #0D0D0D;
  --ant-color-bg-elevated: #0D0D0D;
  --ant-modal-content-bg: #0D0D0D;
}

.app-dark :where(.ant-table-wrapper) .ant-table {
  background: #0D0D0D !important;
}

.app-dark .ant-table-thead > tr > th {
  background: #121212 !important;
}

